@font-face {
  font-family: 'irsans';
  src: url('../fonts/old/iran-sans.ttf');
  unicode-range: U+30-39;
}
@font-face {
  font-family: 'irsans-bold';
  src: url('../fonts/old/iran-sans-bold.ttf');
  unicode-range: U+30-39;
}

::selection {
  color: #fff;
  background-color: #4a59b4;
}

@import 'fontiran';
body {
  font-family: iranyekan, helvetica, arial, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: iranyekan !important;
}
h1 {
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='file'] {
  cursor: pointer;
}
.red-text {
  color: rgb(196, 58, 58);
  font-size: 12px;
}
.outsideValue {
  color: #8a8a8a;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}
.profileTitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.profileValue {
  font-size: 20px;
}
.profileTable {
  background-color: rgba(#ebeff2, 0.1);
  td {
    cursor: pointer;
    padding-right: 22px;
  }
  &__edit-cell {
    text-align: center;
    a:hover {
      text-decoration: underline;
    }
  }
}
.tasks-table {
  tr {
    cursor: pointer;
  }
  button {
    margin-top: 10px;
    width: 100%;
  }
}

// .x-main {
//   /* make sure to cover the screen */
//   min-height: 100vh;

//   /* need a solid bg to hide the footer */
//   background: #ebeff2;

//   /* put on top */
//   position: relative;
//   z-index: 1;
// }
footer {
  /* place on the bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  word-spacing: 4px;
  font-size: 12px;
  font-weight: 500;
  display: grid;
  place-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 15%;
  color: #858789;
  // z-index: -20;
  img {
    float: left;
    height: 35px;
    margin-right: 20px;
    margin-top: -10px;
  }
  p {
    margin-top: 10px;
  }
}

.custom-file-label::after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

.team-table {
  .table-propic {
    padding-top: 8px;
    padding-bottom: 0;
    width: 60px;
  }
  img {
    height: 30px;
  }
  .disable-user-btn {
    padding: 5px 0;
    font-size: 10px;
  }
}
// logo
// }

.header-logo {
  // border: 10px solid red;
  height: 60px;
  margin-top: 20px;
  @media screen and (max-width: 1012px) {
    height: 25px;
  }
}

// #sicko {
//   /* make sure to cover the screen */
//   min-height: 100vh;

//   /* need a solid bg to hide the footer */
//   background: #ebeff2;

//   /* put on top */
//   position: relative;
//   z-index: 1;
// }

.content-page {
  padding-bottom: 200px;
}
.header-path {
  font-size: 16px;
  a {
    color: #000;
  }
  a:hover {
    text-decoration: underline;
  }
  span {
    color: rgb(139, 139, 139);
  }
}

// .calendar-box {
//   padding-right: 32px;
//   @media screen and (max-width: 768px) {
//     padding-right: 42px;
//   }
// }
.modal-header .close {
  margin-top: 0px;
}
.z-i-zero {
  z-index: 0;
}
.btn-submit {
  margin-top: 20px;
}
